/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
  border-radius: 10px;
  margin-left: 15px;
  /* min-height: 100vh; */
}

.todo-app {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 10px auto 10px;
  padding: 40px 30px 40px;
  border-radius: 10px;
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  justify-content: center;

}

.todo-app h2 .todo-icon {
  width: 30px;
  margin-left: 10px;
}

.row-inpbut {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

.input-area {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

.add-button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}

.my-list li {
  list-style: none;
  font-size: 17px;
  padding: 12px 5px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
  left: -30px;
}

.my-list li::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

.my-list li.checked {
  color: #555;
  text-decoration: line-through;
}

.my-list li.checked::before {
  background-image: url(checked.png);
}


.my-list li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.my-list li span:hover {
  background: #edeef0;
} 

.check-task {
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;
}


